<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Email System</h1>

    <button mat-icon-button (click)="sidenav.opened = !sidenav.opened">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav opened="true" mode="side" style="width: 220px">
    <mat-nav-list>
        <mat-list-item routerLink="/pages/dashboard">
          <mat-icon mat-list-icon>dashboard</mat-icon>
          <a mat-line class="icon-text">DashBoard</a>
        </mat-list-item>
        <mat-list-item routerLink="/pages/users">
          <mat-icon mat-list-icon>group</mat-icon>
          <a mat-line class="icon-text">Users</a>
        </mat-list-item>
        <mat-list-item routerLink="/pages/clients">
          <mat-icon>perm_contact_calendar</mat-icon>
          <a mat-line class="icon-text">Clients</a>
        </mat-list-item>
        <mat-list-item routerLink="/pages/emails">
          <mat-icon> email</mat-icon>
          <a mat-line class="icon-text">Emails</a>
        </mat-list-item>
        <mat-list-item routerLink="/pages/logEmails">
          <mat-icon>history</mat-icon>
          <a mat-line class="icon-text">Email History</a>
        </mat-list-item>
        <mat-list-item routerLink="/pages/reports">
          <mat-icon>folder</mat-icon>
          <a mat-line class="icon-text">Report</a>
        </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 90vh">
      <router-outlet> </router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
