mat-form-field
{
  width: 100%;
  margin: 10px 10px;
  font-size: 14px;
}

form{
  width: 350px;
}

table{
  width: 100%;
}
/* Aumentar la altura de todos los campos en el formulario */
.app-modal-user-form {
  padding: 16px; /* Añade un relleno para aumentar la altura */
}

/* O aumentar la altura de campos individuales */
.app-modal-user-form .mat-form-field {
  padding: 16px; /* Añade un relleno para aumentar la altura */
}
/* Aumenta la altura del mat-form-field */
.mat-form-field {
  height: 70px; /* Ajusta la altura según tus preferencias */
}

/* Ajusta la posición del mat-label para que no quede recortado */
.mat-form-field-label {
  transform: translateY(10px); /* Ajusta la posición vertical según tus preferencias */
}
