<h2 mat-dialog-title>{{ actionTitle }} Client</h2>
<mat-dialog-content>
  <form [formGroup]="formClient" class="app-modal-client-form">
    <mat-grid-list cols="1" rowHeight="80px">


      <mat-grid-tile>
        <mat-form-field appearance="outline" class="mat-form-field-label">
          <mat-label> Full Name </mat-label>
          <input matInput autocomplete="off" formControlName="name" />
          <mat-icon matSuffix> account-box </mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline" class="mat-form-field-label">
          <mat-label> Email </mat-label>
          <input matInput autocomplete="off" formControlName="email" />
          <mat-icon matSuffix> mail </mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline" class="mat-form-field-label">
          <mat-label> Category </mat-label>
          <mat-select formControlName="idCategory">
            <mat-option *ngFor="let item of categoryList" [value]="item.idCategory">
              {{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline" class="mat-form-field-label">
          <mat-label> company</mat-label>
          <input matInput autocomplete="off" formControlName="company" />
          <mat-icon matSuffix> account-box </mat-icon>
        </mat-form-field>
      </mat-grid-tile>


      <mat-grid-tile>
        <mat-form-field appearance="outline" class="mat-form-field-label">
          <mat-label> language </mat-label>
          <input matInput autocomplete="off" formControlName="language" />
          <mat-icon matSuffix> account-box </mat-icon>
        </mat-form-field>
      </mat-grid-tile>



      <mat-grid-tile>
        <mat-form-field appearance="outline" class="mat-form-field-label">
          <mat-label> Status </mat-label>
          <mat-select formControlName="isActive">
            <mat-option value="1">Active</mat-option>
            <mat-option value="0">Inactive</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warm">Back</button>
  <button mat-raised-button color="primary" [disabled]="formClient.invalid"
  (click)="saveEditClient()"
  >{{actionButton}}</button>
</mat-dialog-actions>

