<?xml version ="1.0"  encoding="utf-8"?>


<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi= "http://www.w3.org/2001/XMLSchema-instance"
autoreload="true"
internalLogLevel="Info"
internalLogFile="c:\Temp\NLogSave\NLogSample.txt">

<!-- enable asp.net core layout renderers -->	

<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
</extensions>

	<targets>
		<target xsi:type="File" name="all_logs" fileName="c:\Temp\NLogSave\all.log"/>
		<target xsi:type="File" name="relevant_logs" fileName="c:\Temp\NLogSave\relevant.log"/>
		<target xsi:type="ColoredConsole" name="logconsole">
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="Green"/>
			<highlight-row condition="level == LogLevel.Trace" foregroundColor="Blue" background="White"/>
			<highlight-row condition="level == LogLevel.Info" foregroundColor="DarkYellow"/>
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
			<highlight-row condition="level == LogLevel.Error" foregroundColor="DarkRed"/>
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White"/>
		</target>

	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logconsole"/>
		<logger name="*" minlevel="Debug" writeTo="all_logs"/>
		<logger name="*" minlevel="Warn" writeTo="relevant_logs"/>

	</rules>

</nlog>